@CHARSET "ISO-8859-1";

body.background {
	background-color: black;
}

table.oben {
	background-image: url(../img/BackgroundPicture.jpg);
	background-size: 100%;
	background-repeat-y;
	margin-right: 4px;
	margin-left: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input.button {
	width: 5.5cm;
	height: 1cm;
	align: center;
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 5px;
	border-color: red;
	margin-left: 4px;
	margin-right: 4px;
	font-family: Calibri Light;
	font-size: 12pt;
}

img.logo {
	height: 95.16px;
	width: 140.4px;
}

td.obenLinks {
	border: 40px solid transparent;
	vertical-align: top;
}

td.obenRechts {
	border: 40px solid transparent;
	vertical-align: top;
}

td.untenRechts {
	border: 40px solid transparent;
	vertical-align: middle;
}

td.untenLinks {
	border: 40px solid transparent;
	vertical-align: middle;
}

h1.font {
	color: white;
	font-family: Calibri;
	font-size: 25pt;
}

h3.font {
	color: white;
	font-family: Calibri;
	font-size: 23pt;	
}

